<!DOCTYPE html>
<html leng="en">

<head>
    <title>Explomin</title>

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'administrator.css' %}">
    <script src="{% static 'java.js' %}"></script>
</head>




<body>


    {% for day in days %}
    <div class="admin-container">
        <h1>{{day}}</h1>
        {% for job in jobs %}
        <div class="admin-job">
            <h2>{{job}}</h2>
            <div class="admin-detalii">
                <div>
                    <label for="cariera">Cariera: </label>
                    <select name="cariera" id="id">        
                        {% for cariera in locations %}                     
                            <option value={{x.location}}>{{cariera.location}}</option>    
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label for="browser">Ora: </label>
                    <input type="time" />
                </div>

                <p class="titlu-echipa">Echipa</p>
                {% for rol in roluri %}
                <div class="person-container">
                    <label for="browser">{{rol}}:</label>
                    <select name="name" id="id">
                            {% for coordonator in peoples %}  
                                <option value={{coordonator.name}}>{{coordonator.name}}</option>
                            {% endfor %} 
                        </select>
                    <select name="vehicle1" class="car" id="cars">
                        {% for masina in masini %}
                            <option value="{{masina.numar}}">{{masina.numar}}</option>
                        {% endfor %}
                    </select>
                </div>
                {% endfor %}
            </div>

            <div class="collapse-echipa">
                <button type="button" class="collapsible">Alege membrii echipei <i class="arrow up"></i></button>
                <div class="content">
                    <div class="person-container">
                        <!-- <label for="cauta" value="Cauta">Cauta</label> -->
                        <input type="text" id="membru-search" name="search" placeholder="Cauta membru echipa..." />
                    </div>
                    {% for membru in peoples %}
                    <div class="person-container">
                        <input type="checkbox" name="selecteaza-membru">
                        <label for="vehicle1" value={{membru.name}}> {{membru.name}}</label>
                        <select name="vehicle1" class="car" id="cars">
                                {% for masina in masini %}
                                    <option value="{{masina.numar}}">{{masina.numar}}</option>
                                {% endfor %}
                            </select>
                    </div>
                    {% endfor %}
                </div>

            </div>

            <input type="submit" value="Submit" />
        </div> {% endfor %}

    </div>
    {% endfor %}

    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }
    </script>

</body>



</html>