<!DOCTYPE html>
<html leng="en">

<head>
    <title>Explomin</title>

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'administrator.css' %}">
</head>

<body>
    <div>
        <input type="week" name="week" id="week-selector" min="1970-W1" max="2070-W52" />
    </div>
    {% for day in days %}
    <div class="admin-container">
        <h1 id="day-{{day|lower}}">{{day}}</h1>
        {% for job in jobs %}
        <div class="admin-job">
            <h2>{{job}}</h2>
            <div class="admin-detalii">
                <div>
                    <label for="cariera">Cariera: </label>
                    <select name="cariera" class="cariera" id="cariera-{{day|lower}}-{{job|lower}}">      
                            {% for cariera in locations %}                     
                                <option value={{cariera.location}}>{{cariera.location}}</option>  
                            {% endfor %}
                        </select>
                </div>
                <div>
                    <label for="browser">Ora: </label>
                    <input type="time" id="ora-{{day|lower}}-{{job|lower}}" />
                </div>

                <p class="titlu-echipa">Echipa</p>
                {% for rol in roluri %}
                <div class="person-container">
                    <label for="browser">{{rol}}:</label>
                    <select name="name" id="nume-{{rol|lower}}-{{day|lower}}-{{job|lower}}">
                            {% for coordonator in peoples %}  
                                <option value={{coordonator.name}}>{{coordonator.name}}</option>
                            {% endfor %} 
                        </select>
                    <select name="vehicle1" class="car" id="masina-{{rol|lower}}-{{day|lower}}-{{job|lower}}">
                        {% for masina in masini %}
                            <option value="{{masina.numar}}">{{masina.numar}}</option>
                        {% endfor %}
                    </select>
                </div>
                {% endfor %}
            </div>

            <div class="collapse-echipa">
                <button type="button" class="collapsible">Alege membrii echipei <i class="arrow up"></i></button>
                <div class="content">
                    <div class="person-container">
                        <input type="text" class="search-membru" name="search" placeholder="Cauta membru echipa..." />
                    </div>
                    {% for membru in peoples %}
                    <div class="person-container membru-container membru-container-{{day|lower}}-{{job|lower}}">
                        <input type="checkbox" name="selecteaza-membru" class="membru-nume-{{day|lower}}-{{job|lower}}">
                        <label for="vehicle1" value={{membru.name}}> {{membru.name}}</label>
                        <select name="vehicle1" class="car" id="membru-masina-{{day|lower}}-{{job|lower}}">
                                {% for masina in masini %}
                                    <option value="{{masina.numar}}">{{masina.numar}}</option>
                                {% endfor %}
                            </select>
                    </div>
                    {% endfor %}
                </div>

            </div>

            <button class="submit" value="Submit" id="{{day|lower}}-{{job|lower}}">Submit</button>
        </div> {% endfor %}

    </div>
    {% endfor %}

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment-with-locales.min.js" integrity="sha512-42PE0rd+wZ2hNXftlM78BSehIGzezNeQuzihiBCvUEB3CVxHvsShF86wBWwQORNxNINlBPuq7rG4WWhNiTVHFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript">
        $.puscari_admin = {
            init: function() {
                this.listeners()
            },
            vars: {
                coll: document.getElementsByClassName("collapsible")
            },
            listeners: function() {
                let i
                for (i = 0; i < this.vars.coll.length; i++) {
                    this.vars.coll[i].addEventListener("click", function() {
                        this.classList.toggle("active");
                        var content = this.nextElementSibling;
                        if (content.style.display === "block") {
                            content.style.display = "none";
                        } else {
                            content.style.display = "block";
                        }
                    });
                }

                $('.submit').click(function() {
                    lista_membrii = []

                    btn_id = this.id
                    cariera = document.getElementById('cariera-' + btn_id)
                    ora = document.getElementById('ora-' + btn_id)
                    nume_coordonator = document.getElementById('nume-coordonator-' + btn_id)
                    masina_coordonator = document.getElementById('masina-coordonator-' + btn_id)
                    nume_artificier = document.getElementById('nume-artificier-' + btn_id)
                    masina_artificier = document.getElementById('masina-artificier-' + btn_id)
                    nume_azot = document.getElementById('nume-azot-' + btn_id)
                    masina_azot = document.getElementById('masina-azot-' + btn_id)

                    membrii_container = document.getElementsByClassName('membru-container-' + btn_id)
                    for (i = 0; i < membrii_container.length; i++) {
                        in_membru_name = membrii_container[i].querySelector('input[type=checkbox]');

                        if (in_membru_name.checked) {
                            member_name = membrii_container[i].querySelector('label').innerText;
                            select_member_masina = membrii_container[i].querySelector('select')
                            member_masina = select_member_masina.options[select_member_masina.selectedIndex].text;

                            membru_obj = {
                                nume: member_name,
                                masina: member_masina
                            }
                            lista_membrii.push(membru_obj)
                        }
                    }

                    $.post("/administrator/create_puscare", {
                        cariera: cariera.options[cariera.selectedIndex].text,
                        ora: ora.value,
                        nume_coordonator: nume_coordonator.options[nume_coordonator.selectedIndex].text,
                        masina_coordonator: masina_coordonator.options[masina_coordonator.selectedIndex].text,
                        nume_artificier: nume_artificier.options[nume_artificier.selectedIndex].text,
                        masina_artificier: masina_artificier.options[masina_artificier.selectedIndex].text,
                        nume_azot: nume_azot.options[nume_azot.selectedIndex].text,
                        masina_azot: masina_azot.options[masina_azot.selectedIndex].text,
                        membrii_echipa: JSON.stringify(lista_membrii),
                        csrfmiddlewaretoken: '{{csrf_token}}'
                    })
                })

                $('.search-membru').on('input', function() {
                    search_txt = this.value
                    $.puscari_admin.functions.searchMembers(search_txt)
                })

                $('#week-selector').on('change', function() {
                    const week_selector = document.getElementById('week-selector')
                    const week_value = week_selector.value

                    let week = moment(week_value, 'YYYY-W##')

                    const selected_start_date = week.startOf('isoWeek').format('YYYY-MM-DD')
                    const selected_end_date = week.endOf('isoWeek').format('YYYY-MM-DD')

                    $.post("/administrator/get_puscare_by_date_range", {
                        start_date: selected_start_date,
                        end_date: selected_end_date,
                        csrfmiddlewaretoken: '{{csrf_token}}'
                    }).then(function(response) {
                        let data = response.data

                        let result = $.puscari_admin.functions.groupByField(data, 'ziua')
                        console.log(result)

                        $.puscari_admin.functions.changeTitlesByDate(selected_start_date, selected_end_date)
                    }).catch(function(err) {
                        console.log(err)
                    })
                })
            },
            functions: {
                searchMembers: function(txt) {
                    let i
                    txt_upper = txt.toUpperCase()
                    membru_container = document.getElementsByClassName('membru-container')
                    for (i = 0; i < membru_container.length; i++) {
                        txt_member_name = membru_container[i].querySelector('label').innerText;
                        txt_member_name_upper = txt_member_name.toUpperCase();

                        if (txt_member_name_upper.includes(txt_upper)) {
                            membru_container[i].style.display = ''
                        } else {
                            membru_container[i].style.display = 'None'
                        }
                    }
                },
                groupByField: function(data, field_name) {
                    const result = data.reduce((result, curr) => {
                        const field = curr[field_name]

                        if (!result[field]) {
                            result[field] = []
                        }

                        result[field].push(curr)
                        return result
                    }, {})
                    return result
                },
                changeTitlesByDate: function(start_date, end_date) {
                    weekStartDay = moment(start_date)
                    weekLastDay = moment(end_date)
                    daysRO = {
                        'Monday': 'Luni',
                        'Tuesday': 'Marti',
                        'Wednesday': 'Miercuri',
                        'Thursday': 'Joi',
                        'Friday': 'Vineri',
                        'Saturday': 'Sambata',
                        'Sunday': 'Duminica'
                    }

                    while (weekStartDay.isSameOrBefore(weekLastDay)) {
                        current_day = daysRO[weekStartDay.format('dddd')]
                        day_title = document.getElementById('day-' + current_day.toLowerCase())
                        formatted_date = '(' + weekStartDay.format('YYYY-MM-DD') + ')' || "";
                        if (day_title) {
                            day_title.innerText = current_day + formatted_date
                        }
                        weekStartDay.add(1, 'days')
                    }
                }
            }
        }

        $(document).ready(function() {
            $.puscari_admin.init()
        })
    </script>
</body>

</html>