<!DOCTYPE html>
<html leng="en">

<head>
    <title>Explomin</title>

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'administrator.css' %}">
    <script src="{% static 'java.js' %}"></script>
</head>


{% csrf_token %}

<body>
    {% for x in days %}
    <div class="admin-container">
        <h1>{{x}}</h1>
        {% for x in job %}
        <div class="admin-job">
            <h2>{{x}}</h2>
            <div class="admin-detalii">
                <div>
                    <label for="cariera">Cariera: </label>
                    <select name="cariera" id="id">        
                        {% for x in locations %}                     
                            <option value={{x.location}}>{{x.location}}</option>    
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label for="browser">Ora: </label>
                    <input input type="time" />
                </div>

                <p class="titlu-echipa">Echipa</p>
                <div class="person-container">
                    <label for="browser">Coordonator:</label>
                    <select name="name" id="id">
               
                            {% for x in peoples %}
                            
                                <option value={{x.name}}>{{x.name}}</option>
        
                            {% endfor %} 
        
                    </select>
                    <select name="vehicle1" class="car" id="cars">
                        <option  value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="opel">Opel</option>
                        <option value="audi">Audi</option>
                    </select>
                </div>

                <div class="person-container">
                    <label for="browser">Artificier:</label>
                    <select name="name" id="id">
                   
                            {% for x in peoples %}
                            
                            <option value={{x.name}} >{{x.name}}</option>
        
                            {% endfor %} 
            
                    </select>
                    <select name="vehicle1" class="car" id="cars">
                        <option  value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="opel">Opel</option>
                        <option value="audi">Audi</option>
                    </select>
                </div>

                <div class="person-container">
                    <label for="azot ">Azot:</label>
                    <select name="azot" id="id">
                        {% for x in peoples %}
                            <option value={{x.name}}>{{x.name}}</option>
                        {% endfor %} 
                    </select>
                    <select name="vehicle1" class="car" id="cars">
                        <option  value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="opel">Opel</option>
                        <option value="audi">Audi</option>
                    </select>
                </div>

            </div>

            <div class="collapse-echipa">
                <button type="button" class="collapsible">Alege membrii echipei <i class="arrow up"></i></button>
                <div class="content">
                    <div class="person-container">
                        <label for="cauta" value="Cauta">Cauta</label>
                        <input name="cauta" type="text" />
                    </div>
                    {% for x in peoples %}
                    <div class="person-container">
                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                        <label for="vehicle1" value={{x.name}}> {{x.name}}</label>
                        <select name="vehicle1" class="car" id="cars">
                                    <option  value="volvo">Volvo</option>
                                    <option value="saab">Saab</option>
                                    <option value="opel">Opel</option>
                                    <option value="audi">Audi</option>
                            </select>
                    </div>
                    {% endfor %}
                </div>

            </div>

            <input type="submit" value="Submit" />
        </div> {% endfor %}

    </div>
    {% endfor %}

    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }
    </script>

</body>



</html>