<!DOCTYPE html>
<html>

<head>
    <title>Explomin Meniu</title>
    {% load static %} {% load permission_tags %}

    <link rel="stylesheet" type="text/css" href="{% static 'meniu.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

    <form   action="logout" method="post">
        {% csrf_token %}

        <button class="logout"  type="submit" >Log Out</button>
    </form>

    

    


    <ul>
        <li><a href="/administrator/user">Program lucru</a></li>
        {% if user|has_role:'admin' %}
        <li><a href="/administrator">Modificare program lucru</a></li>
        {% endif %}
        <li><a href="/administrator/pontaj">Pontaj</a></li>
        <li><a href="#contact">Contact</a></li>

    </ul>


</body>

</html>