<!DOCTYPE html>
<html leng = en>
<head>
    <title>Explomin</title>
    {% load static %} {% load permission_tags %}
    <link rel="stylesheet" type="text/css" href="{% static 'pontaj.css' %}">
    <script src="{% static 'java.js' %}"></script>
    
</head>
<body>
    
    <h5>S.C. EXPLOMIN S.R.L.</h5>
    <h1>RAPORT DE ACTIVITATE LUNARA PENTRU SOFERI</h1>


    <table>
        <tr>
          <th>Data</th>
          <th>Ruta-Traseu</th>
          <th>Km</th>
          <th>Ore</th>
          <th>Observatii</th>
        </tr>
        <tr>
          <td>1</td>
          <td>
            <input type="text" />
          </td>
          <td>
            <input type="text" />
          </td>
          <td>
            <input type="text" />
          </td>
          <td>
            <input type="text" />
          </td>
        </tr>
        <tr>
          <td>2</td>
          <td>
            <input type="text" />
          </td>
          <td>
            <input type="text" />
          </td>
          <td>
            <input type="text" />
          </td>
          <td>
            <input type="text" />
          </td>
        </tr>
      </table>
    
    
    
        
   
        


</body>


























</html>