<!DOCTYPE html>
<html leng="en">

<head>
    <title>Explomin</title>

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'user.css' %}">
    <script src="{% static 'java.js' %}"></script>
</head>


<body>

    {% for x in days %}
    <div class="container">
        <h1>{{x}}</h1>
        {% for x in job %}
        <div class="puscare">

            <h2>{{x}}</h2>
            <div class="informatii-generale">
                <div class="detalii">
                    <p>Cariera: {{x.location}}</p>

                    <p>Ora: {{x.time}}</p>

                    <div class="azot">
                        <p>Azot: {{x.name}}</p>
                    </div>


                </div>

                <div class="echipa">
                    <h4>Echipa</h4>

                    <p>Coordonator: {{x.name}}</p>


                    <p>Artificier: {{x.name}}</p>

                    <div class="echipa-ajutor">

                        {% for x in peoples %}

                        <p>{{x.name}}</p>

                        {% endfor %}


                    </div>

                </div>
            </div>
        </div>
        {% endfor %}

    </div>
    {% endfor %}
</body>



</html>