.container {
    display: inline-felx;
    flex-direction: row;
    text-align: center;
    max-width: 1500px;
}

.puscare {
    display: inline-flex;
    border: 1px solid black;
    width: 30%;
    min-width: 200px;
    flex-direction: column;
}

.informatii-generale {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 10;
}

.detalii {
    padding: 0 10px;
}

.echipa {
    padding: 0 20px;
    text-align: left;
}

.echipa-ajutor {
    border-top: 1px dotted lightgrey;
}

.azot {
    margin-top: 80px;
}