<!DOCTYPE html>
<html>

<head>
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'style-login.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <!-- {% include "meniu.html" %} -->
    
    <form class="form-contianer" action="logout" method="post">
        {% csrf_token %}
        
        <div class="container">

            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>
            <button type="submit">Login</button>
        </div>
    </form>

    <!-- <form action="buttonA" method='GET'>
        <button type="submit">Login</button>
    </form> -->

</body>

</html>