<!DOCTYPE html>
<html>

<head>
    {% load static %} {% load permission_tags %}

    <link rel="stylesheet" type="text/css" href="{% static 'meniu.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

    <form class="form-contianer" action="logout" method="post">
        {% csrf_token %}

        <button type="submit" class="logout">Log Out</button>
    </form>


    <ul>
        <li><a href="/user">Program lucru</a></li>
        {% if user|has_role:'admin' %}
        <li><a href="/administrator">Modificare program lucru</a></li>
        {% endif %}
        <li><a href="/pontaj">Pontaj</a></li>
        <li><a href="#contact">Contact</a></li>

    </ul>


</body>

</html>