<!DOCTYPE html>
<html>
    <head>
        {% load static %}
    
        <link rel="stylesheet" type="text/css" href="{% static 'meniu.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
    </head>
<body>
<button>
    <a  class = logout href="#about">Log Out</a>
</button>



<ul>
  <li><a href="#AAA">Program lucru</a></li>
  <li><a href="#news">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
  
</ul>


</body>
</html>


