.admin-container {
    display: inline-felx;
    flex-direction: row;
    text-align: center;
}

.admin-job {
    display: inline-flex;
    border: 1px solid rgb(250, 4, 4);
    width: 30%;
    min-width: 250px;
    flex-direction: column;
    padding: 5px;
    text-align: center;
}

.admin-detalii {
    text-align: left;
    padding: 10px 20px;
    
}

.azot {
    /* margin-top: 50px; */
}

.titlu-echipa {
    font-weight: 600;
    font-size: 18px;
    padding: 0;
    margin: 10px 0;
}

.collapse-echipa {
    margin: 10px 0;
    text-align: left;
}

.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.content {
    padding: 0 10px;
    display: none;
    overflow: hidden;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

.active,
.collapsible:hover {
    background-color: #ccc;
}

.person-container {
    padding: 7px;
    border-bottom: 1px solid lightgrey;
}

.car {
    float: right;
}

.arrow:hover {
    transform: rotateZ(45deg);
    transition: all 0.4s ease;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transition: all 0.4s ease;
    transform: rotate(-135deg);
}