table ,th,td {
    border:1px solid black;
    border-collapse: collapse;
    
}

table,tr {
    width:100%;
}


   
.date {
    text-align:center;
}

h1 {
    text-align:center;
}

.box-text {
    width:98%;
    
}