table ,th,td {
    border:1px solid black;
    border-collapse: collapse;
    
}

table,tr {
    width:90%;
}


   
.date {
    text-align:center;
}

h1 {
    text-align:center;
}

.box-text {
    width:97%;
    
}

.buttonSub{
    
    margin-left:1%;
    margin-bottom: 1%;
}

.buttonEdi {
    
}