<!DOCTYPE html>
<html leng="en">

<head>
    <title>Explomin</title>

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'administrator.css' %}">
    <script src="{% static 'java.js' %}"></script>
</head>


<body>

    {% for x in days %}
    <div class="container">
        <h1>{{x}}</h1>
        {% for x in job %}
        <div class="puscare">

            <h2>{{x}}</h2>
            <div class="informatii-generale">
                <div class="detalii">
                    <label for="browser">Cariera:
                        <select name="location" id="id">
                   
                            {% for x in locations %}
                            
                            <option value={{x.location}}>{{x.location}}</option>
        
                            {% endfor %}  
            
                        </select>
                    <label for="browser">Ora:
                        <input input type="time"></label>
                    <div class="azot">
                        <label for="azot">Azot</label>
                        <select name="azot" id="id">

                   
                            {% for x in peoples %}
                        
                            <option value={{x.name}}>{{x.name}}</option>
    
                            {% endfor %} 
        
                         </select>
                    </div>


                </div>

                <div class="echipa">
                    <h3>Echipa</h3>

                    <label for="browser">Coordonator:</label>
                    <select name="name" id="id">
                   
                            {% for x in peoples %}
                            
                            <option value={{x.name}}>{{x.name}}</option>
        
                            {% endfor %} 
            
                        </select>

                    <label for="browser">Artificier:</label>
                    <select name="name" id="id">
                       
                                {% for x in peoples %}
                                
                                <option value={{x.name}} >{{x.name}}</option>
            
                                {% endfor %} 
                
                            </select>
                    <div id="list1" class="dropdown-check-list" tabindex="100">
                        <span class="anchor" for="echipa">Echipa:</span>
                        <ul type="checkbox" name="echipa" id="id">

                            {% for x in peoples %}

                            <li><input type="checkbox">{{x.name}}</li>

                            {% endfor %}


                        </ul>
                    </div>
                    <input type="submit" value="Submit">

                </div>
            </div>
        </div>
        {% endfor %}

    </div>
    {% endfor %}
</body>



</html>