<!DOCTYPE html>
<html leng="en">

<head>
    <title>Explomin</title>

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" >
</head>


<body>
    
    {% for x in days %}
    <div class="container">
        <h1>{{x}}</h1>
        <div class="puscare">
            
            <h2>  I </h2>
            <div class="informatii-generale">
                <div class="detalii">
                    <p><label for="browser">Cariera:
                        <select name="location" id="id">
                   
                            {% for x in locations %}
                            
                            <option value={{x.location}}>{{x.location}}</option>
        
                            {% endfor %} 
            
                        </select></p>
                    <p><label for="browser">Ora:
                        <input input type="time"></label></p>
                </div>

                <div class="echipa">
                    <h3>Echipa</h3>
                    
                    <p><label for="browser">Coordonator:
                        <select name="name" id="id">
                   
                            {% for x in peoples %}
                            
                            <option value={{x.name}}>{{x.name}}</option>
        
                            {% endfor %} 
            
                        </select></p>
                        
                        <p><label for="browser">Artificier:
                            <select name="name" id="id">
                       
                                {% for x in peoples %}
                                
                                <option value={{x.name}} >{{x.name}}</option>
            
                                {% endfor %} 
                
                            </select></p>
                    <p><label for="browser">Echipa:
                        <select name="name" id="id" multiple>
                            {% for x in peoples %}
                                
                            <option value={{x.name}} >{{x.name}}</option>
    
                            {% endfor %} 
        
                        </select></p>
                        <input type = "submit" value = "Submit">
                    </label></p>
                </div>
            </div>
        </div>
        <div class="puscare">
            <h2> II </h2>

            <div class="informatii-generale">
                <div class="detalii">
                    <p><label for="browser">Cariera:
                        <input list="browsers" name="browser" id="browser"></label></p>
                    <p><label for="browser">Ora:
                        <input input type="time"></label></p>
                </div>

                <div class="echipa">
                    <h3>Echipa</h3>
                    
                    <p><label for="browser">Coordonator:
                        <select name="name" id="id">
                   
                            {% for x in peoples %}
                            
                            <option value={{x.name}}>{{x.name}}</option>
        
                            {% endfor %} 
            
                        </select></p>
                        
                        <p><label for="browser">Artificier:
                            <select name="name" id="id">
                       
                                {% for x in peoples %}
                                
                                <option value={{x.name}} >{{x.name}}</option>
            
                                {% endfor %} 
                
                            </select></p>
                    <p><label for="browser">Echipa:
                        <select name="name" id="id" multiple>
                            {% for x in peoples %}
                                
                            <option value={{x.name}} >{{x.name}}</option>
    
                            {% endfor %} 
        
                        </select></p>
                        <input type = "submit" value = "Submit">

                    
                </div>
            </div>
        </div>
        <div class="puscare">

            <h2> III </h2>
            <div class="informatii-generale">
                <!--         <img class="image"src="https://www.explomin.ro/wp-content/uploads/freshizer/6b18c4e2724655723a9c60eb31aaac03_1-1140-760-c-90.jpg"></img> -->
                <div class="detalii">
                    <p><label for="browser">Cariera:
                        <input list="browsers" name="browser" id="browser"></label></p>
                    <p><label for="browser">Ora:
                        <input input type="time"></label></p>
                </div>

                <div class="echipa">
                    <h3>Echipa</h3>
                    
                    <p><label for="browser">Coordonator:
                        <select name="name" id="id">
                   
                            {% for x in peoples %}
                            
                            <option value={{x.name}}>{{x.name}}</option>
        
                            {% endfor %} 
            
                        </select></p>
                        



                        
                        <p><label for="browser">Artificier:
                            <select name="name" id="id">
                       
                                {% for x in peoples %}
                                
                                <option value={{x.name}} >{{x.name}}</option>
            
                                {% endfor %} 
                
                            </select></p>

                            

                    <p><label for="browser">Echipa:
                        <select name="name" id="id" multiple>
                            {% for x in peoples %}
                                
                            <option value="{{x.name}}" >{{x.name}}</option>
    
                            {% endfor %} 
                            
                        </select></p>
                        <input type = "submit" value = "Submit">
                        
                </div>
            </div>
        </div>
    </div>    
        {% endfor %}
</body>



</html>