<!DOCTYPE html>
<html leng="en">

<head>
    <title>Explomin</title>
</head>


<body>
    
    <table>
        <tr>
            
            <th>Luni</th>
            <th>Marti</th>
            <th>Miercuri</th>  
            <th>Joi</th> 
            <th>Vineri</th>
            
        </tr>

                
        <tr>

            <td>
                <select name="name" id="id">
                   
                    {% for x in peoples %}
                    
                    <option value={{x.name}}>{{x.name}}</option>

                    {% endfor %} 
    
                </select>
                
                
            </td>
            
                    
        </tr>
        <tr>

            <td>
                <select name="name" id="id">
                   
                    {% for x in peoples %}
                    
                    <option value={{x.name}}>{{x.name}}</option>

                    {% endfor %} 
    
                </select>
                
                
            </td>
            
                    
        </tr>
        
       
    </table>
</body>
    
    

</html>