<!DOCTYPE html>
<html>

<head>
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'style-login.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

    <form class="form-contianer" action="/action_page.php" method="post">
        <div class="container">
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="uname" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>

            <button type="submit">Login</button>
        </div>
    </form>

</body>

</html>